html{ font-size: 125%; }

body{ font-size: .5em; }

.registro{
    padding: 0px;
}
.registro a:link{text-decoration: none;}

.comercio{
    font-weight: bold;
    padding-left: 4px;
    padding-top: 4px;
    text-align: center;
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    white-space:pre-wrap;
}
.aviso{
    font-size: 0.7em;
    color: #2F3E46;
    width: 100%;
}
.descripcion{
    font-size: 1em;
    padding-left: 4px;
    width:100%;
    white-space:pre-wrap;
    font-family: Tahoma, Geneva, sans-serif;
}
.promo{
    color: #F38000;
    font-weight: bolder;
    padding-left: 4px;
    text-align: center;
    vertical-align: middle;
    white-space:pre-wrap;
    font-size: 1em;
    font-family: Tahoma, Geneva, sans-serif;
}
.precio{
    font-size: 1.25em;
    font-weight: bold;
    color: #FF6A15;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
.precio:before{
    content: "$";
    font-size: 0.7em; 
}
.desde{
    font-size: 0.9em;
    font-weight: bold;
    height: 14px;
    color: #FF6A15;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    top: 0;
    width: 40px;
    position: absolute;
}
.desde-det{
    font-size: 1.5em;
    font-weight: bold;
    color: #FF6A15;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: center;
}
.distancia{
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;    
}
.distancia:after{
    content: " mts";    
}
.det-distancia{
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;    
}
.det-distancia:after{
    font-size: 0.6em;
    content: " mts(*)";    
}

div>sup{
    font-size: 0.5em;
}

span>sup{
    font-size: 0.7em;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.image{
    height: 3.5em;
    width: 3.5em;
}
.arrow-r{
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 6px;
}

.det-comercio{
    color: #FF6A15;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    white-space:pre-wrap;
    font-size: 1.7em;
    font-family: Tahoma, Geneva, sans-serif;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}




